*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: gray;
}

html{
    background-color: rgb(203, 13, 241);
}

ul{
    /*display: inline-block;*/
    margin-top: 10px;
}

nav{

    font-size: 20px;
    text-align: center;
}

h1{
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
    /*margin: 20px;*/
}

#section-image{

    width: 80%;
    float: right;
    background-color: rgb(55, 179, 168);
    height: 100%;
}

#divarticulo{

    margin: 20px 10px 20px 10px;
    border-style: dotted;
    width: 510px;
    height: 300px;
    background-color: rgb(97, 20, 220);
    display: inline-block;
}

#asideDescription { 
    float: left; 
    width: 20%;
    height: 100%; 
    background-color: #eb26da;
    text-align: center;
}

.catalogo{

    
    width: 85%;
    background-color: aqua;
    margin: auto;
    margin-top: 30px;
}